// Font.
$font: (
  primary: ("Muli",sans-serif)
);

// Palette.
$palette: (
  primary:       #040401,
  primary-alt:   lighten(#272c30, 60%),
  secondary:     lighten(#272c30, 15%),
  meta:          lighten(#272c30, 45%),
  border:        #e8e8e8,
  border-alt:    lighten(#272c30, 7%),
  accent:        #d8195e,
  accent-blue:   #0c8aea,
  accent-green:  #0da5b1,
  accent-violet: #7c43a8,
  accent-yellow: #e6dfA0
);

@import "imports/functions";

@import "fontawesome.min.css";
@import "brands.min.css";

@import "imports/reset";
@import "imports/general";
@import "imports/icons";
@import "imports/animations";
@import "imports/structure";
@import "imports/header";
@import "imports/content";
@import "imports/sections";
@import "imports/footer";
@import "imports/palettes";
@import "imports/banner";


.author-box {
  display: flex;
  justify-content: space-between;
  padding: 15px;
  
  .name {
    color: white;
    font-size: 0.8em;
    font-weight: bold;
    margin: 0;
    text-align: center;
  }
  
  .about {
    padding-left: 10px;
    color: white;
  }
  
  .info {
    width: 100px;
    flex-shrink: 0;
  }
  
  img {
    border-radius: 50%;
    height: 100px;
    width: 100px;

  }
}






