// Font.
$font: (
  primary: ("Muli",sans-serif)
);

// Palette.
$palette: (
  primary:       #040401,
  primary-alt:   lighten(#272c30, 60%),
  secondary:     lighten(#272c30, 15%),
  meta:          lighten(#272c30, 45%),
  border:        #e8e8e8,
  border-alt:    lighten(#272c30, 7%),
  accent:        #d8195e,
  accent-blue:   #0c8aea,
  accent-green:  #0da5b1,
  accent-violet: #7c43a8,
  accent-yellow: #e6dfA0
);

@import "imports/functions";

@import "fontawesome.min.css";
@import "brands.min.css";

@import "imports/reset";
@import "imports/general";
@import "imports/icons";
@import "imports/animations";
@import "imports/structure";
@import "imports/header";
@import "imports/content";
@import "imports/sections";
@import "imports/footer";
@import "imports/palettes";
@import "imports/banner";
// @import "imports/accordion";


/**
 * Tabs
 * ----------------------------------------------------------------------------
 */
 /*
 CSS for the main interaction
*/
.tabset > input[type="radio"] {
  position: absolute;
  left: -200vw;
}

.tabset .tab-panel {
  display: none;
}

.tabset > input:first-child:checked ~ .tab-panels > .tab-panel:first-child,
.tabset > input:nth-child(3):checked ~ .tab-panels > .tab-panel:nth-child(2),
.tabset > input:nth-child(5):checked ~ .tab-panels > .tab-panel:nth-child(3),
.tabset > input:nth-child(7):checked ~ .tab-panels > .tab-panel:nth-child(4),
.tabset > input:nth-child(9):checked ~ .tab-panels > .tab-panel:nth-child(5),
.tabset > input:nth-child(11):checked ~ .tab-panels > .tab-panel:nth-child(6) {
  display: block;
}

/*
 Styling
*/
// body {
//   font: 16px/1.5em "Overpass", "Open Sans", Helvetica, sans-serif;
//   color: #333;
//   font-weight: 300;
// }

.tabset > label {
  position: relative;
  display: inline-block;
  padding: 15px 15px 25px;
  border: 1px solid transparent;
  border-bottom: 0;
  cursor: pointer;
  font-weight: 600;
}

.tabset > label::after {
  content: "";
  position: absolute;
  left: 15px;
  bottom: 10px;
  width: 22px;
  height: 4px;
  background: #8d8d8d;
}

.tabset > label:hover,
.tabset > input:focus + label {
  color: #06c;
}

.tabset > label:hover::after,
.tabset > input:focus + label::after,
.tabset > input:checked + label::after {
  background: #06c;
}

.tabset > input:checked + label {
  border-color: #ccc;
  border-bottom: 1px solid #fff;
  margin-bottom: -1px;
}

.tab-panel {
  padding: 30px 0;
  border-top: 1px solid #ccc;
}
