<section id="{{ .section.section_id }}" class="block hero-block outer">
  <a class="hero-link" href="https://api.whatsapp.com/send?phone=5535988575949" style="position: fixed;">
    <p>Como posso ajudar?</p>
  </a>
  <div class="inner-small">
    <div class="block-header">
      <h2 class="block-title">{{ .section.title }}</h2>
    </div><!-- .block-header -->
    <div class="block-content">
      <div class="block-copy">
        {{ partial "markdownify-block" .section.content }}
      </div>
    </div><!-- .block-content -->
  </div><!-- .inner -->
</section><!-- .block -->
